.modal-add-admin {
  margin-top: 8px;
  .btn-add-admin {
    color: #1890ff;
    background-color: #ffffff;
    outline: none;
    border: none;
    border-color: transparent;
    box-shadow: none;
    --antd-wave-shadow-color: transparent;
  }
}
