.place__card-section {
  margin-bottom: 20px;
  .row {
    margin-left: 0;
    margin-right: 0;
    .col-wrapper {
      padding: 12px 0 8px;
      .place__card {
        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        transition: ease 1s;
        -webkit-transition: ease 1s;
        -moz-transition: ease 1s;
        -ms-transition: ease 1s;
        -o-transition: ease 1s;
        &:hover {
          opacity: 0.6;
        }
        .place__card-img {
          display: block;
          overflow: hidden;
          width: 150px;
          height: 135px;
          border-radius: 8px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
}
        .place__card-body {
          margin-top: 10px;
          .place__card-title {
            font-size: 16px;
            font-weight: 600;
          }
          .place__card-sub-time {
            font-size: 14px;
            font-weight: 400;
            color: #717171;
          }
        }
      }
    }
  }
}
